
/* --- Slider --- */
#carouselExampleIndicators{
    margin-top: -1rem !important;

}
.carousel-image{
    height: 16rem;
    object-fit: cover; 
}
.carousel-item{
        display: flex;
    justify-content: center;
}
.navSpace{
    margin-top: 4.5rem;
}
/* Style for mobile devices */
@media (max-width: 768px) {
    .carousel-image {
        height: 9rem; /* Maintain aspect ratio */
        object-fit:cover; 
    }
    .commission{
        font-size: 1.4rem;

    }
}

/* --- Colors --- */
.commOpen{
    color: rgb(16, 203, 16);
}
.commClosed{
    color:red;
}
.commPart{
    color:orange
}

/* --- Commission --- */
.commission{
    font-family: "Mogra", system-ui;
}

/* --- Card --- */
.card{
    background: var(--lightLilac);
    border-radius: 15px;
    min-height: 12rem;
}
.card-img{
    max-height: 12rem !important;
    max-width: 12rem !important;
}
.card-body{
    min-width: fit-content;
}
.card-text{
    font-size: large;
}
.card-footer{
    background-color: transparent !important;
    border: none;
}
/*---Card Colors---*/
.card-footer .disabled{
    opacity: 45%;
}
/*Art*/
.serviceCard0{
    background-image: url('../../../assets/artPattern.png');
    background-repeat: repeat;  
    background-size: 29%;
    border: var(--pinkRed) 2px solid;  
}
.serviceCard0 .card-footer a{
    background-color:  var(--lightPinkRed);
    color: whitesmoke;
}

.serviceCard0 .card-footer a:hover{
    background-color:  var(--pinkRed);
    color: whitesmoke;
}

.serviceCard0 .row .mt-1{
    background-color: #dc4e9aeb;
    color: whitesmoke;
    font-weight: bolder;
    border-radius: 10px;
}
/*Program*/
.serviceCard1 {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 0px;
}
.serviceCard1 .card-text{
    font-size: medium;
}
.serviceCard1 .card-title{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}
.serviceCard1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient( 
    black, 
    black 2px, 
    #6e0d4186 2px,
    #6e0d4186 6px);
    background-color: black;
    background-repeat: repeat;
    animation: moveLines 2s linear infinite;
    z-index: -1;
}
.serviceCard1::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -2;
}
.serviceCard1 .card-footer a{
    background-color:  black;
    border: white 2px solid;
    border-radius: 0;
    color: whitesmoke;
}
.serviceCard1 .card-footer a:hover{
    background-color: gray;
    color: whitesmoke;
}
.serviceCard1 .row .mt-1{
    border: white 2px solid;
    color: whitesmoke;
    font-weight: bolder;
}
/*Emb*/
.serviceCard2{
    background-image: linear-gradient(var(--silk)40%,var(--rosy));
    background-repeat: repeat;  
    background-size: 29%;
    border: var(--sage) 2px solid;  
    animation: moving 400s linear infinite;

    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.serviceCard2 .card-title{
    font-size: x-large;
}
.serviceCard2 .card-text{
    font-size: 1.2rem;
}
.serviceCard2 .card-footer a{
    background-color:  var(--lightPinkRed);
    color: whitesmoke;
}
.serviceCard2 .card-footer a:hover{
    background-color:  var(--pinkRed);
    color: whitesmoke;
}
.serviceCard2 .row .mt-1{
    background-color: #8b85892c;
    border: var(--sage) 2px dashed;  
    color: var(--tapeGray);
    font-weight: bolder;
    border-radius: 10px;
}

/*Live2d*/