
<div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-indicators">
        @for (item of albumImages.get('home'); track item; let imageIndex=$index ) {
            <button type="button" data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="imageIndex" class="active" aria-current="true" [attr.aria-label]="'Slide '+imageIndex"></button>
        }
    </div>
    <div class="carousel-inner">
        @for (items of  albumImages.get('home'); track items; let imageIndex=$index) {
            <div class="carousel-item" [ngClass]="{'active':imageIndex==0}">
                <img src="{{items.link}}" class="carousel-image" alt="...">
            </div>
        }
    </div>
</div>

<div class="container">
    <div class="row mt-4">
        <h1 class="text-center commission" [ngClass]="{'commOpen': commStatusService.commState==0 , 'commClosed': commStatusService.commState==1,'commPart': commStatusService.commState==2 }">
            {{ commStatusService.getCommStatusText() }}
        </h1>
    </div>
    <div class="row">
        <h2 class="col-12">Services</h2>
        <small class="mb-2">Prices are written with $, paying can be in USD, Euro or Pound. Also possible to pay with Amazon.com or Amazon.de Gift cards in the desired amount</small>
        <div class="row d-flex justify-content-center">
            @for(service of commStatusService.commServiceOffers; track service; let i = $index){
                <div class="card col-md-8 col-lg-5 mb-3 mb-md-5 me-md-5 serviceCard{{i}}">
                    <div class="row d-flex justify-content-center" >
                        <div class="row mt-1 pb-3" >
                            <h3 class="card-title text-center mt-2 align-self-center" 
                            [ngClass]="[
                                (i === 1) ? 'juflair_blink2_Delayed juflair_rep_inf juflair_spe_slowmotion' : ''
                            ]"> {{service.title}} </h3>
                            <div class="col-4 col-md-3 p-0 p-md-1 d-flex align-items-start">
                                <img [src]="service.status? albumImages.get('icons')?.at(i*2):albumImages.get('icons')?.at(i*2+1)" class="card-img" alt="...">
                            </div>
                            <div class="col-8 col-md-9 d-flex align-items-center p-0">
                                <div class="card-body pt-0 ">
                                    <p class="card-text">{{service.description}}</p>
                                </div>
                            </div>
                        </div>
                       
                        <div class="card-footer text-end">
                            <a [href]="service.status ? './' + service.mainPage : '#'" class="btn" [ngClass]="service.status?'':'disabled'">More Details ></a>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>