<i id="calculatorIcon" (click)="startAnimation()" class="cornerFloat fa-solid fa-calculator fa-2xl"></i>

<div id="calculator" class="invisible pt-2 me-3 ms-2 col-md-7 col-lg-5 position-fixed" >
    <div class="card">
        <ul class="ms-2 nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
            <li class="nav-item">
                <a (click)="calcType=true" class="nav-link active" aria-current="true" data-bs-toggle="tab" href="#same">Same Type</a>
            </li>
            <li class="nav-item">
                <a (click)="calcType=false" class="nav-link" data-bs-toggle="tab" href="#mix">Mixed Types</a>
            </li>
            <i id="calculatorIcon2" (click)="EndAnimation()"  class=" invisible cornerFloat fa-solid fa-calculator fa-2xl"></i>
        </ul>
        <div class="calculator">
            <h2 class="result text-end">{{moneyAmount}} $</h2>
            
            <div class=" card-body tab-content">
                <div class="tab-pane active" id="same">
                    <div class="row m-0 p-0">
                        <div class="col-9">
                            <div class="mb-2">
                                <label for="types">Type of Commission &nbsp;</label>
                                <select [(ngModel)]="typeOfComm" name="types">
                                    @for (item of typeBasic; track $index) {
                                        <option value="{{item.type}}">{{item.type}}</option>
                                    }
                                    @for (item of special; track item;let i=$index) {
                                        @if (i<2) {
                                            <option value="{{item.type}}">{{item.type}}</option>
                                        }
                                    }
                                </select>
                            </div>
                            
                            @if (typeOfComm) {
                                <label for="specify">Specify &nbsp;</label>
                                <select [(ngModel)]="specificComm" name="specify">
                                    @if (typeBasicNames.includes(typeOfComm)) {
                                        <option value="0">Sketch (no colored)</option>
                                        <option value="1">Sketch (colored)</option>
                                        <option value="2">Lineart</option>
                                        <option value="3">Colored</option>
                                        <option value="4">Shaded</option>
                                        <option value="5">Shaded + Lineart</option>
                                    }
                                    @if (typeOfComm=="Charactersheet") {
                                        <option value="0">Character front</option>
                                        <option value="1">Character front and back</option>
                                    }
                                    @if (typeOfComm=="Custom_Base") {
                                        <option value="0">Headshot</option>
                                        <option value="1">Halfbody</option>
                                        <option value="2">Fullbody</option>
                                    }
                                </select>
                                <div class="mt-2">
                                    <input class="form-check-input mt-0" type="checkbox" [(ngModel)]="nsfw" value="nsfw" aria-label="Checkbox for following text input">
                                    Nsfw
                                    @if (typeOfComm=="Charactersheet") {
                                        <br>
                                        <input class="form-check-input mt-0" type="checkbox" [(ngModel)]="charSheet[0]" value="nsfw" aria-label="Checkbox for following text input">
                                        expressions
                                        <br>
                                        <input class="form-check-input mt-0" type="checkbox" [(ngModel)]="charSheet[1]" value="nsfw" aria-label="Checkbox for following text input">
                                        Items
                                        <br>
                                        <input class="form-check-input mt-0" type="checkbox" [(ngModel)]="charSheet[2]" value="nsfw" aria-label="Checkbox for following text input">
                                        textareas
                                    }
                                </div>
                            }
                        </div>
                        @if (typeBasicNames.includes(typeOfComm)) {
                            <div class="col-3">
                                <label for="amount">Char. num: </label>
                                <input [(ngModel)]="amountChar" class="col-12" name="amount" type="number">
                            </div>
                        }
                        @if (typeOfComm=="Custom_Base") {
                            <div  class="col-12 mb-2">
                                <input (change)="custBaseAnimal=0" value="0" class="form-check-input" type="radio" name="custBase">
                                Human &nbsp;
                                <input checked (change)="custBaseAnimal=1"  value="1" class=" form-check-input" type="radio" name="custBase"  >
                                Furry &nbsp;
                                <input (change)="custBaseAnimal=2" value="2" class="form-check-input" type="radio" name="custBase">
                                Feral
                            </div>
                        }
                    </div>
                </div>
                <div class="tab-pane" id="mix">
                    <div class="col-5">
                        <label for="amount">Char. num: </label>
                        <input [(ngModel)]="amountChar" class="col-12" name="amount" type="number">
                    </div>
                    <div class="col">
                        <input (change)="specificComm=2" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        Lineart &nbsp;
                        <input (change)="specificComm=3" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        Color &nbsp;
                        <input (change)="specificComm=4" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        Shaded
                    </div>
                    <input class="form-check-input mt-0" type="checkbox" [(ngModel)]="lineCol" value="true" aria-label="Checkbox for following text input">
                    Lineart color &nbsp;
                    <div class="characterArea mt-2">
                        @for (item of forArray(); track item; let i = $index) {
                            <div class="characterBox mt-2">
                                <h3>{{i+1}}. Character</h3>
                                <label for="types">Type of Commission&nbsp;</label>
                                <select [(ngModel)]="characterArray[i].type" name="types">
                                    @for (item of typeBasic; track $index) {
                                        @if ($index<3) {
                                            <option value="{{item.type}}">{{item.type}}</option>
                                        }
                                    }
                                </select>
                                <br>
                                <div class="mt-2">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="characterArray[i].nsfw" value="true" aria-label="Checkbox for following text input">
                                    NSFW
                                </div>
                                
                            </div>
                        }
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button class=" btn btn-primary" (click)="calc()">Calculate</button>
                </div>
                <div class="d-flex justify-content-end">
                    <small class="tiny">BG Price not considered</small>
                </div>
            </div>
        </div>
    </div>
</div>