    <div class="container">
        <div class="row mt-md-5 d-flex justify-content-between"> 
            <div class="col-md-3 mt-2 order-1 order-md-0 strong mb-2 mb-md-0"> 
                <h2 class="col-12">Strengths:</h2>
                <ul class="col-12 ">
                    <li>Creative</li>
                    <li>Open-Minded</li>
                    <li>Reliable</li>
                    <li>Good to talk to</li>
                    <li>Listening</li>
                </ul>
            </div>
            <div class="col-md-4 order-0 order-md-1 main">
                <div class="row">
                    <img src="../../../assets/eyyyy.png" class="col-4 p-0" alt="Sitting Jusauria">
                    <ul class="col-6 pt-3 ps-4">
                        <li>Name: Jusauria</li>
                        <li>Age: {{age}}</li>
                        <li>From: Austria</li>
                        <li>Languages: 
                            <ul>
                                <li>German</li>
                                <li>English</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 order-2 weak">
                    <h2 class="col-12">Weaknesses:</h2>
                    <ul class="col-12 ">
                        <li>Can't write well (ChatGPT helps and friends).</li>
                        <li>Bad Memory</li>
                        <li>Adorable art</li>
                        <li>Anxiety</li>
                    </ul>
            </div>
        </div>
        
        <div class="row mt-5 d-flex justify-content-between">
            <div class="col-md-3 mt-2 uppies pt-2"> 
                <h2 class="col-12">Availability:</h2>
                <ul class="col-12 ">
                    <li>Optimal commissioning time: Weekends</li>
                    <li>Always love talking -> Discord please</li>
                </ul>
            </div>
            <div class="col-md-4 mt-2 uppies pt-2"> 
                <h2 class="col-12">Education:</h2>
                <ul class="col-12 ">
                    <li>Basic Education</li>
                    <li>Austrian secondary school with a technical or engineering focus --> IT Department</li>
                </ul>
            </div>
            <div class="col-md-4 mt-2 uppies pt-2"> 
                <h2 class="col-12">Philosophy:</h2>
                <ul class="col-12 ps-3">
                    <li>I work until I die.</li>
                    <li>Everything is funny. Everything is money</li>
                    <li></li>
                    <li>WE NEED A SPIN BUTTON! <button class="fa-spin"><u>OwO</u></button></li>
                </ul>
            </div>
        </div>
    </div>