@import "~@fortawesome/fontawesome-free/css/all.css";
/* --- Variables --- */
:root{
    --darkPinkRed: #6e0d40;
    --pinkRed: #B11567;
    --lightLilac: #C8A2C8;
    --lilac: #b16db1;
    --darkLilac: rgb(170, 129, 170);
    --mewPink: #FEC4D3;
    --skinColor: #FAE0E0;
    --shinyBlue: #94EDF3;
    --darkShiny: #5da1dd;
    --juPink: #EDA6E6;
}

/* --- General --- */
body{
    background: var(--skinColor);
    font-family: "Merienda", cursive;
    font-size: 15px;
}
/*space from nav*/
.navSpace{
    margin-top: 4.5rem;
}
.row{
    margin: 0px -7px;
    padding-right: 1px;
}

/* --- Text Size --- */
h2{
    font-size: 1.5em;
    font-weight: bolder ;
}
h3{
    font-size: 1.25em;
    font-weight: bolder ;
}
h4{
    font-size: .96em;
    font-weight: bolder ;
}

/* --- Buttons --- */
.btn-lilac{
    background: var(--lilac)
}
.btn-lilac:hover{
    background: var(--darkLilac)
}

/* --- List --- */
li{
    word-wrap: break-word;
}