/* --- General --- */
.tiny{
    font-size: .55rem;
}
/* --- Examples --- */
img.img-fluid{
    width: 60%;
    max-height: 80vh;
    object-fit: contain;
    min-height: unset;
    max-width: unset;
    border: unset;

}
img{
    max-height: 12rem;
    min-height: 12rem;
    max-width: 268px;
    height: auto;
    width: auto;
    padding: 5px;
    border: 15px solid;
    border-image: url('../../../../assets/border-art.png');
    border-image-slice: 70;
}
button>i{
    color: var(--darkPinkRed);
}
/* --- Background --- */
.pattern{
    background-image: url('../../../../assets/artPattern.png');
    background-size: 35%;
    background-repeat: repeat;    
}
.heavenSave{
    background: var(--skinColor);
}

@media (max-width: 768px) {
    img.img-fluid{
        width: 80%;
        max-height: 80vh;
        object-fit: contain;
        min-height: unset;
        max-width: unset;
        border: unset;
    }
}
@media only screen and (min-width: 600px) {
    .pattern {
        padding: 0px 10%;
        font-size: 16px;
    }
    .cornerFloat{
        right: 14rem;
    }
}
@media only screen and (min-width: 801px) {
    .pattern {
        padding: 0px 20%;
    }
    .cornerFloat{
        right: 14rem;
    }
}

