/* --- General --- */
.tiny{
    font-size: .55rem;
}
/* --- Examples --- */
img{
    height: 12rem;
    padding: 5px;
    border: 15px solid;
    border-image: url('../../../../assets/border-art.png');
    border-image-slice: 70;
}
button>i{
    color: var(--darkPinkRed);
}
/* --- Background --- */
.pattern{
    animation: moving 15s linear infinite;
    background-image: url('../../../../assets/artPattern.png');
    background-size: 35%;
    background-repeat: repeat;    
}
.heavenSave{
    background: var(--skinColor);
}

@media only screen and (min-width: 600px) {
    .pattern {
        padding: 0px 20%;
    }
}
@keyframes moving{
    0%{
        background-position: 15rem 15rem ;
    }
   100%{
    background-position: 0px 0px ;
   }
}
