
<div class="container mt-4">
    <h1 class="col-12 text-center">Terms and Services</h1>
    <p class="col-12 fw-bold">By making a purchase of any item or service, you implicitly consent to the terms and conditions outlined in the "Terms of Service".</p>
    <section class="col-12">
        <app-dropdown [header]="'Payment Terms'">
            <h3>Payment Timelines and Consequences</h3>
            <ul>
                <li class="text-decoration-underline">
                    Payment: PayPal or Amazon Gift Cards from either amazon.com or amazon.de.
                </li>
                <li>
                    In the event that I am unable to complete your commission within the agreed-upon timeframe, I will promptly notify you. You can then choose to grant me more time or request a 75% refund.
                </li>
                <li>
                    In the event that I am unable to complete your commission within the agreed-upon timeframe, I will promptly notify you. You can then choose to grant me more time or request a 75% refund.
                </li>
                <li>
                    In case of not being able to pay right away following steps will take place:
                    <ol>
                        <li>After notifying you are not able to pay you will get a period of 1 week to gather the money</li>
                        <li>Following the one-week grace period, a warning is issued and another 1 week period</li>
                        <li>Failure to pay within the one-week period results in an additional 10% fee and another 1 week period</li>
                        <li>After the week period the commission will be automatically cancelled. Anything which got created in this commission belongs to me 100%.</li>
                    </ol>
                </li>
                
            </ul>
            <h4>Art Commissions</h4>
            <ul>
                <li>
                    I'll start working on your commission once I receive 50% or more of the payment.
                </li>
                <li>
                    Full refunds upon completion are not offered in case you are not 100% satisfied. A 45% refund is permitted but you will also lose the shared copyright of the drawing.
                </li>
            </ul>
            <h4>Programming/Live2d Commissions</h4>
            <ul>
                <li>
                    I'll start your commission once the initial payment is received.
                </li>
                <li>
                    Daily payments are required for each day of work. If the previous day's payment is not received, work on the commission will be paused.
                </li>
            </ul>
            
        </app-dropdown>
        <app-dropdown [header]="'Art Terms'">
            <h3>Copyright</h3>
            <ul>
                <li>
                    Upon purchasing a drawing and completing the full payment, you automatically acquire 50% ownership of the copyright associated with the creation.
                </li>
                <li>
                    The shared copyright grants you the rights to claim the drawing as your own and upload it to any platform of your choosing.
                </li>
                <li>
                    If the full payment is not received, no ownership or copyright is transferred, and 100% of the rights remain with the original creator.
                </li>
            </ul>
            <h3>Drawing Terms and Process</h3>
            <ul>
                <li>
                    I am open to drawing various subjects, including Furries, Humans, etc.
                </li>
                <li>
                    For NSFW commissions, age verification is required. Please refer to the specific guidelines outlined in the "NSFW Terms" section for details on age restrictions and content permissions
                </li>
                <li>
                    I reserve the right to refuse a commission if the requested character is too challenging for me to draw or the topic is making me uncomfortable
                </li>
                
            </ul>
            <h4>Working Terms and Information</h4>
            <ul>
                <li>
                    Throughout the commission process, I will provide progress shots at three key stages: Sketch, Lineart, and Colored.
                </li>
                
                <li>
                    Ideally, commissions will be completed within 1 to 7 workdays after payment. However, please note that the actual duration may vary depending on the complexity of the artwork and personal life situation.
                </li>
                <li>
                    Please refrain from removing my signature/username from the drawing, and do not sell it for prices higher than the original purchase amount.
                </li>
                <li>
                    Upon payment of 50%, you will receive a watermarked version of the finished picture. The unwatermarked version will be provided upon full payment.
                </li>
                <li>
                    The default format for drawings is PNG. If you prefer a different format such as JPEG, please inform me in advance.
                </li>
                <li>
                    For animations, the default formats are MP4 or GIF. If you prefer another format, please notify me in advance.
                </li>
            </ul>
            <h3>NSFW Terms</h3>
            <ul>
                <li class="fw-bold text-decoration-underline">
                    I will not create NSFW work connected to rape, minors, or violence.
                </li>
                <li>
                    Candy Gore, light gore, etc., are generally not counted as NSFW by me. However, please discuss the nature of the gore drawing for clarification.
                </li>
                <li>
                    Only individuals aged 16 or above are allowed to request Commissions with NSFW nature.
                </li>
                <ul>
                    <li>
                        Proof of age is required, and you must provide a valid ID, driver's license, or other official documentation.
                    </li>
                    <li>
                        If you present an ID, driver's license, etc. that does not belong to you, it constitutes identity theft, and I am not liable for any damages or products purchased.
                    </li>
                </ul>
                <li>
                    Characters portrayed must be 18 years old or above.
                </li>
                <ul>
                    <li>
                        Confirmation is required that the character depicted in the picture is 18 years old or above.
                    </li>
                </ul>
                
            </ul>
            <h4>NSFW Commission Guidelines by Age</h4>
            <ul>
                <li>
                    For individuals aged 16 to 17, access to explicit NSFW content is restricted. However, they are welcome to request semi-NSFW commissions, which may include suggestive elements without explicit scenes.
                </li>
                <li>
                    Individuals aged 18 and above have unrestricted access to the full range of NSFW works.
                </li>
            </ul>
        </app-dropdown>
        <app-dropdown [header]="'Programming Terms'" >
            <h4>Working Terms and Information</h4>
            <ul>
                <li>
                    Throughout the commission process, I will provide progress shots of the UI, Code, Challenges, etc.
                </li>
                <li>
                    Commissions completion can very from hours to months. It depends a lot on the complexity of the programming task and personal life situation.
                </li>
                <li>
                    Providing the needed assets or APIs to use will help with the completion time but it's not mandatory.
                </li>
                <li>
                    After finishing the commission you will receive a .zib file with all the files and folders.
                </li>
            </ul>
            <h4>Hosting Commissions</h4>
            <p class="text-decoration-underline">I WILL NOT HOST ANY COMMISSIONS</p>
            <h4>Art</h4>
            <p>If you desire to get art from me along the programming commission, please take a look at the prices of the art commission.</p>
        </app-dropdown>
        <app-dropdown [header]="'Embroidery Terms'" >
            
        </app-dropdown>
        <app-dropdown [header]="'Rigging Terms'" >
            
        </app-dropdown>
        <app-dropdown [header]="'Donation Terms'" >
            <ul>
                <li>
                    When a donation is made, refunds are not available.
                </li>
            </ul>
        </app-dropdown>
    </section>
</div>
