.background{
    background-image: linear-gradient(var(--silk)40%,var(--rosy));
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    margin-top: -5rem;
}

.borderCircle{
    border: 2px dashed black;
    border-radius: 50px;
    padding: 15px;
}