<hr>
<div class="container pb-2">
    <dir class="row p-0 justify-content-between">
        <div class="col-4 pe-0">
            <p class="lilay">
                &copy; Jusauria 2024 - {{currentDate.getFullYear()}}
            </p>
        </div>
        <div class="col-4">
            <div class="row d-flex justify-content-end">
                <div class="col-6 mb-2 text-end"><a href="terms">Terms and Services</a></div>
                <div class="col-6 mb-2 text-end "><a  [routerLink]="'/about'">About Jusauria</a></div>
                <div class="col-6 mb-2 text-end "><a  [routerLink]="'/impressum'">Impressum</a></div>
                <div class="col-6 mb-2 text-end "><a  [routerLink]="'/privacy'">Privacy Policy</a></div>
                <button (click)="delteLocalStorage()">Delete Local Storage Images</button>
            </div>
        </div>
        <div class="col-4">
            <div class="row ">
                <div class="col-md-6">
                    <div class="row d-flex justify-content-end">
                        <h4 class="text-end">SFW Socials</h4>
                        @for (social of currentSocials; track $index) {
                            <div class="col-2 col-md-1">
                                <a href="{{social.url}}">  <i [ngClass]="[social.icon, !social.icon.includes('fa-solid') ? 'fa-brands' : '']"></i></a>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-6 mt-2 mt-md-0"> 
                    <div class="row d-flex justify-content-end">
                        <h4 class="text-end">NSFW Socials</h4>
                        @for (social of nsfwSocials; track $index) {
                            <div class="col-2 col-md-1">
                                <a href="{{social.url}}"> <i [ngClass]="[social.icon, !social.icon.includes('fa-solid') ? 'fa-brands' : '']"></i></a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </dir>
</div>