<div class="flex-container">
    <div class="digital">
    </div>
    <div class="container silkscreen-regular mt-1">
        <div class="juflair_flying juflair_spe_slow juflair_rep_inf ">
            <h1 class="text-center press-start-2p">Prog<span class="juflair_blink2_Delayed juflair_rep_inf">r</span>amm<span class="juflair_blink1_Delayed juflair_rep_inf">i</span>ng</h1>
        </div>
        <div class="row m-3">
            <div class="col-12">
                <div class="row noBorder">
                    <h2 class="col-5">Price:</h2>
                    <p class="col-2 h4 juflair_flip juflair_rep_inf">$</p>
                </div>
                
                <ul>
                    <li>Starting pay: Depending on Type</li>
                    <li>Hour rate: 10$</li>
                </ul>
            </div>
        </div>
        <div class="row mt-2">
            <h2>Types of Comm.</h2>
            @for (item of commType; track $index) {
                <h3 class="text-decoration-underline">{{item.type}}:</h3>
                <p>{{item.description}}</p>
                @for (price of item.prices; track $index) {
                    <p> <span class="juflair_blink juflair_rep_inf">▶</span>   {{price}}</p>
                }
            }
        </div>
        <div class="row m-3 mt-2">
            <h3>Languages known:</h3>
            @for (item of languages; track $index) {
                <p><span class="juflair_blink juflair_rep_inf">▶</span> {{item}}</p>
            }
        </div>
        <div class="row mt-2">
            <h2>Examples:</h2>
            <p><span class="juflair_blink juflair_rep_inf">▶</span> <a href="https://github.com/Jusauria">Github Page</a></p>
            @for (example of examples; track $index) {
                <p><span class="juflair_blink juflair_rep_inf">▶</span> {{example}}</p>
            }
        </div>
    </div>
</div>


