<p style="margin: 60px">
    Legal Notice (Impressum) <br>
    According to § 5 ECG (E-Commerce Law – Austria)<br>
    <br>
    Responsible for the content of this website:<br>
    Jusauria<br>
    Contact: jusauria.ju&#64;gmail.com<br>
    <br>
    This website showcases personal artistic work, including digital art and programming services. <br>
    It also provides occasional commission opportunities, such as YCH artwork and custom programming services. <br>
    While these commissions are offered as a side activity and do not constitute a full-time business, prices, details, and terms are provided for transparency. <br>
    <br>
    A full legal notice with additional information is available upon legitimate request.<br>
    Please use the contact method provided above for inquiries.<br>
</p>


